@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: poppins;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  height: 100vh;
  overflow-y: auto;
}
body {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
  &.home {
    background-image: linear-gradient(#0001, #0001), url("#url to the pic");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

/* homepage styles */
.home-header,
.home-footer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  padding-right: 20px;
}
.home-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0005;
  padding-top: 20px;
  height: min(50px, 20vh);
}
.home-header .logo {
  pointer-events: visible;
  height: 100%;
  margin-left: 10px;
  cursor: pointer;
  aspect-ratio: 1;
  & img {
    height: 100%;
    &:hover {
      background-color: white;
    }
  }
}

a,
a > span {
  text-decoration: none;
  color: green;
}

a.buy-ticket {
  height: 100%;
  margin-inline: auto 20px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  padding-right: 20px;
  gap: 0;
  & > img {
    height: 70%;
    object-fit: cover;
  }
  & span {
    font-size: 0.3em;
  }
  &:hover span {
    color: white;
  }
}

.page-links {
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  & .page-link {
    padding-right: 5px;
    margin-left: 5px;
    height: max-content;
    border-right: 1px solid white;
    text-transform: uppercase;
    &.lit {
      color: white;
      border-bottom: 2px solid white;
    }
    &:hover {
      color: white;
    }
    &:last-child {
      border-right: none;
    }
  }
}

header + main {
  position: relative;
  top: 50px;
  padding-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  font-size: 0.6em;
  & .concert-date {
    margin-inline: 12px auto;
    width: 30%;
  }
  & .venue {
    margin-inline: auto;
    width: max-content;
  }
  & .social-icons {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    margin-inline: auto 12px;
    & > a {
      height: 100%;
      aspect-ratio: 1;
      background-color: green;
      padding: 2px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: white;
      }
      & > img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

/* text animation */
.names {
  width: 100vw;
}
#container {
  position: relative;
  margin: 0 10px;
  width: 100%;
  height: 50%;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  color: green;
  font-family: "Raleway", sans-serif;
  font-size: 30px;

  text-align: center;

  user-select: none;
}
svg#filters {
  height: 0;
}

.latest-song {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(95vw, 300px);
  margin-inline: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & img {
    width: min(100vw, 110px);
  }
  & audio {
    height: 20px;
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .latest-song img {
    width: 95vw;
  }
  .latest-song audio {
    height: 30px;
    width: 95vw;
  }
  footer {
    font-size: 1em;
    flex-direction: column;
    & > div {
      display: block;
    }
  }
  footer .social-icons {
    width: 45%;
    gap: 10px;
  }
}
